
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/referrer/start" class="govuk-back-link">Back</a>
    <form class="form" action="/whoweare" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
The British Red Cross are...         </h1>
          </legend>
          <p class="govuk-body govuk-!-margin-bottom-2"></p>
          <h3 class="govuk-heading-m">Part of an international movement </h3>
          <p class="govuk-body"> We are one of 141 Red Cross/Red Crescent national societies, who work together to find missing relatives.</p>
          <h3 class="govuk-heading-m">Independent and neutral</h3>
          <p class="govuk-body">We <strong>do not</strong> work for the Home Office, the government, social services or any other organisation. </p>
          <h3 class="govuk-heading-m">Experienced</h3>
          <p class="govuk-body">Since 1870 the International Committee of the Red Cross has been finding and keeping families together. </p>
          <p class="govuk-body govuk-!-margin-bottom-7"></p>

          <a href="/referrer/selectaservice" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Continue</a>

{% endblock %}
