{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/data-permissions" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                How old are you?
              </h1>
            </legend>
            <span id="changed-name-hint" class="govuk-hint">

            </span>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="age" type="radio" value="under-18">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Under 18
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="age" type="radio" value="over-18">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  18 or older
                </label>
              </div>
            </div>
          </fieldset>
        </div>

                <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
