{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers before submitting</h1>

        <h2 class="govuk-heading-m">Your details (referrer)</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ data['r_firstname']}} {{ data['r_surname']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/referrer_details">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
Relationship            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ data['relationship'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/referrer_details">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ data['r_email'] }}</p>
              <p>{{ data['r_phone'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/referrer_details">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Enquirer's details</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>{{ data['e_firstname']}} {{ data['e_surname']}}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="/enquirer_details">
                        Change<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
        Language          </dt>
                    <dd class="govuk-summary-list__value">
                      <p>{{ data['language'] }}</p>
                      <p>{{ data['interpreter'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="/enquirer_details">
                        Change<span class="govuk-visually-hidden"> address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>{{ data['r_email'] }}</p>
                      <p>{{ data['r_phone'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="/enquirer_details">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Things to be aware of
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>{{ data['safeguarding'] }}</p>
                      <p>{{ data['other'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="/enquirer_details">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                    </dd>
                  </div>
                </dl>

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

      {% endblock %}
