{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/referrerdetails" class="govuk-back-link">Back</a>
      <form class="form" action="/checkyouranswers" method="post">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
Do you understand the following statements?
              </h1>
            </legend>
            <p class="govuk-body govuk-!-margin-bottom-3">
              </p>

              <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
              I (){{ data['e_firstname'] }}) understand my information is being shared securely with the British Red Cross and we are opening a case.
              </label>
            </div>
            <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              I (){{ data['e_firstname'] }}) understand I will be contacted directly
            </label>
          </div>
          <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
        I (){{ data['e_firstname'] }}) understand that if the red cross are unable to contact me (twice) or if I fail to attend two appointments, my case will be closed.
          </label>
        </div>

  <div>
                          <form class="form" action="/checkyouranswers" method="post">
                      <button class="govuk-button" data-module="govuk-button">Continue</button>
                      </div>
            </form>
          </div>
        </div>



      {% endblock %}
