{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="/result_not_eligible" class="govuk-back-link">Back</a>
<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
Contact your local service  </h1>
</div>
      <form class="form" action="/contact_searchresults" method="post">
      <div class="govuk-form-group">
         <label class="govuk-label" for="address-line-1">
           Enter town or postcode <span class="govuk-visually-hidden">line 1 of 2</span>
         </label>
         <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
       </div>

       <button class="govuk-button" data-module="govuk-button">Find a local service</button>

    </div>
  </div>

{% endblock %}
