{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="/data-permissions" class="govuk-back-link">Back</a>
      <form class="form" action="/result" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Will you need evidence of family tracing to support your asylum claim?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="evidence" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="evidence" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

                <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
