
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Family tracing prototype
        <p></p>
        <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="whoareyou">Find the right service for you</a>
  </li>
  <li>
    <a class="govuk-link" href=>Online search (TTF) registration Form</a>
  </li>
  <li>
    <a class="govuk-link" href=>Active trace enquiry Form</a>
  </li>
  <li>
    <a class="govuk-link" href=>Confirmation</a>
  </li>
</ul>
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

    </div>
</div>

{% endblock %}
