
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
Find missing family
<p class="govuk-body govuk-!-margin-top-3">If you have been separated from your family by war, natural disaster or migration, the International Family Tracing service could help.</p>

<a href="/enquirer/start" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
Look for my family</a>

<a href="/referrer/relationship" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
Make a referral</a>

    </div>
</div>

{% endblock %}
