{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
        Start an active trace
          </h1>
        </div>
        </div>
        </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Based on your answers, you are best suited to an active trace. This is a mixture of online searches and "on the ground" searches to find your family. </p>
        <p> To start an active trace you need to make an enquiry, so that your local centre can contact you to book an appointment.</p>
      </div>

      <div class="govuk-grid-column-one-third">
<img src="/public/images/activetrace.png" alt="image of a hand pointing at a screen with photos of people who are looking for their family">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <button class="govuk-button" data-module="govuk-button">Make an enquiry</button>
        </div>
        </div>
        </div>

  </main>
</div>




{% endblock %}
