{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="/age" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-panel__title">
You are eligible for an Offline Search          </h1>
        <p class="govuk-body">Based on your answers, we advise you search for your family offline. This means adding your details to the Red Cross database of people across the world searching for their family.</p>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Why this service is right for you </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class="govuk-body">An online tracing service is right for people who are:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li> under 18</li>
                <li> not sure where to start a search</li>
                <li> in hiding or at risk.</li>

              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
      How to get started       </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class="govuk-body">Complete a short online registration form. You will need:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Your name and contact details</li>
                <li>The name of your missing relative</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
        What happens once you've registered        </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class="govuk-body">Once you complete the online enquiry form:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>You will receive email confirmation of your enquiry</li>
                <li>You can start looking for your family online</li>
                <li><strong>We will </strong> add your details to the Red Cross international database so that your family can find you. </li>
              </ul>
            </div>
  </main>
<div>
 <button class="govuk-button" data-module="govuk-button">Register now</button>
</div>



{% endblock %}
