


{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<a href="/index" class="govuk-back-link">Back</a>
    <form class="form" action="/whoweare.html" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What do you need help with today?
            </h1>
          </legend>
          <span id="sign-in-hint" class="govuk-hint">
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="select_a_service" type="radio" value="tracing" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                Finding family
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
Help finding family where contact has been lost.            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="select_a_service" type="radio" value="reunion" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                Bringing family safely to the UK
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                Get help applying for family reunion visas, or travel assistance to the UK
              </span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="select_a_service" type="radio" value="send_a_message" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                Sending a message to hard to reach relatives
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
Help sending a message to someone in a hard to reach place, such as a detention centre or camp.              </span>

            </div>
          </div>
        </fieldset>
      </div>
    </div>

          </div>
        </fieldset>
              <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
